.compilations-container {
  display: flex;
  margin-top: 2rem;
  margin-left: 2rem;
}

.compilations-list {
  border: 2px solid gray;
  margin-right: 1.5rem;
  height: 70vh;
  width: 200px;
}

.compilations-list div {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid gray;
  padding-left: 0.5rem;
  cursor: pointer !important;
}

.compilations-list .selected-compilation {
  background: #2898de;
  color: white;
  font-weight: bold;
}
